# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Environments
.env
.venv
venv/
ENV/

# Editor backups
*~
*.swp
*.swo

# OS
.DS_Store
